* {
    margin: 0;
    padding: 0;
}

.conteiner {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 600px;
    background-color: cadetblue;
}


input{
    width: 20rem;
    height: 30px;
}

label{
    font-size: 24px;
}